{
  "swagger": "2.0",
  "info": {
    "title": "Dynizer API",
    "description": "This is the [Dynizer API](https://api.dynizer.com)",
    "version": "2.0",
    "contact": {
      "name": "Dynactionize NV",
      "url": "https://dynactionize.com",
      "email": "api-requests@dynactionize.com"
    },
    "x-logo": {
      "altText": "Dynizer, where all your data correlates.",
      "backgroundColor": "#FFF",
      "href": "https://www.dynizer.com",
      "url": "https://vgd.dynizer.com/app/assets/img/dynizer.logo.svg"
    }
  },
  "tags": [
    {
      "name": "Dynizer",
      "description": "SERVICE DESC"
    }
  ],
  "host": "api.dynizer.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/actions": {
      "post": {
        "summary": "Create Action",
        "description": "Creates a **Action** with the provided name.\u003cbr\u003eThe name needs to be unqiue, the CheckActionName call can be used to verify.\u003cbr\u003eThe name can not start or end with a whitespace character.\u003cbr\u003eThe name can not contain any control characters at any position.",
        "operationId": "CreateAction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "ActionName already in use",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActionReq"
            }
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/link": {
      "post": {
        "summary": "Create a new Link via Action Label",
        "description": "Define a Link between **Actions** via a **ActionLabel**",
        "operationId": "CreateActionLabelLink",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionLabelLinkReq"
            }
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/link/{actionLabelLinkName}": {
      "get": {
        "summary": "Read a Link via Action Label",
        "description": "Reads a Link between **Actions** via a **ActionLabel**",
        "operationId": "GetActionLabelLink",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActionLabelLinkRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionLabelLinkName",
            "description": "The user friendly name of the **ActionLabel** link **Actions**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/types/{actionTypeLabel}/count": {
      "get": {
        "summary": "Count Actions",
        "description": "Returns the total number of **Actions**",
        "operationId": "CountActions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionTypeLabel",
            "description": "This is the label of the **ActionType**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/types/{actionTypeLabel}/names/all": {
      "get": {
        "summary": "List Action Names",
        "description": "Returns a list of **Action** names.\u003cbr\u003eProviding the optional window, paging is supported.",
        "operationId": "ListActionNames",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActionNameArrayRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionTypeLabel",
            "description": "The name of the **ActionType**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "window.limit",
            "description": "Defines how many records at max are returned.\u003cbr\u003eIf fewer records are available, all will be returned.\u003cbr\u003eSetting this to -1 will be interpreted as no limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "window.offset",
            "description": "Defines the offset at which to start reading.\u003cbr\u003eAn offset of 0 will bean to start from the first possible record.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "orderField",
            "description": "By which field to order **Action** names.\n\n - Created: order by created\n - Name: order by name",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Created",
              "Name"
            ],
            "default": "Created"
          },
          {
            "name": "orderDirection",
            "description": "Order in which to load the **Action** names.\n\n - Asc: order ascending\n - Desc: order descending",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Asc",
              "Desc"
            ],
            "default": "Asc"
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/{actionName}": {
      "get": {
        "summary": "Read Action",
        "description": "Reads an **Action** definition with all **ActionLabels**",
        "operationId": "ReadAction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActionRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The name of the **Action**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Actions"
        ]
      },
      "delete": {
        "summary": "Delete Action",
        "description": "A **Action** can only be deleted if no **Instances** are attached.\u003cbr\u003eIf the **Action** has **Instances** attached and *cascade* is not set to *true* and Error will be returned.\u003cbr\u003eThe *cascade* flag can be used to mark the **Action** and all its **Instances** as deleted.",
        "operationId": "DeleteAction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The current name of the **Action** to be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cascade",
            "description": "This flag allows to mark all associated **Instances** as deleted.\u003cbr\u003eIf cascade == \u003cspan style=\"color:blue\"\u003efalse\u003c/span\u003e an error is raised if this **Action** has **Instances**.\u003cbr\u003e**Action** with no **Instances** can be deleted no matter what value cascade has.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Actions"
        ]
      },
      "patch": {
        "summary": "Update Action",
        "description": "Updates a **Action**, at the moment this is only the name.\u003cbr\u003eThe new_name needs to be unqiue.\u003cbr\u003eThe *new_name* can not start or end with a whitespace character.\u003cbr\u003eThe *new_name* can not contain any control characters at any position",
        "operationId": "UpdateAction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The current name of the **UseraAction** to be renamed.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "description": "The new name of the **Action**.\u003cbr\u003eThe name needs to be unique.\u003cbr\u003eUse the CheckActionName, call to verify the name, without trying to create it.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionName",
              "description": "The new name of the **Action**.\u003cbr\u003eThe name needs to be unique.\u003cbr\u003eUse the CheckActionName, call to verify the name, without trying to create it."
            }
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/{actionName}/actionlabels": {
      "post": {
        "summary": "Add ActionLabel",
        "description": "Adds an **ActionLabel** to an existing **Action**.\u003cbr\u003eUse the CheckActionLabelName call to verify that the ActionLabel name can be added.",
        "operationId": "AddActionLabel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The unique name for the **Action**.\u003cbr\u003eUse the CheckActionName, call to verify the name, without trying to create it.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ifNotExists": {
                  "type": "boolean",
                  "description": "if set to true -\u003e NO ERROR is returned if a **Action** already has an **ActionLabel** by the provided name.\u003cbr\u003eNo changes to the ActionLabel will be performed when if_not_exists == true and the **ActionLabel** already exists."
                },
                "actionLabelName": {
                  "type": "string",
                  "description": "The unique name of the **ActionLabel** within the **Action.\u003cbr\u003eUse the CheckActionLabelName, call to verify the name, without creating it."
                },
                "component": {
                  "$ref": "#/definitions/ComponentType",
                  "description": "The **ComponentType** for this **ActionLabel**."
                },
                "defaultDataType": {
                  "$ref": "#/definitions/DataType",
                  "description": "The **DataType** for this **ActionLabel**.\u003cbr\u003eThis **DataType** will be used when creating **Instances** with this **ActionLabel**."
                },
                "minOccurrence": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Allows to set minimum number of values, which need to be provided when using this **ActionLabell*** in an **Instance**."
                },
                "maxOccurrence": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Allows to set maximum number of values, which need to be provided when using this **ActionLabell*** in an **Instance**.\u003cbr\u003eThis value needs to be either zero or it can be equal or greater then *min_occurrence*.\u003cbr\u003eSetting it to 0 will be interpreted as open-ended."
                },
                "alternativeDataTypes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DataType"
                  },
                  "description": "List of additional allowed **DataTypes** for this **ActionLabel**.\u003cbr\u003eIf left empty only the *default_data_type* is allowed for the values of this **ActionLabel**."
                },
                "shareName": {
                  "type": "string",
                  "description": "The **ShareName** to use by default when an new instance is created and a value is set for this **ActionLabel**"
                }
              },
              "description": "Use this to add a new **ActionLabel** to an **Action**",
              "title": "AddActionLabelRequest",
              "required": [
                "action_name",
                "actionLabelName",
                "component",
                "defaultDataType"
              ]
            }
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/{actionName}/actionlabels/{actionLabel}": {
      "get": {
        "summary": "Read ActionLabel",
        "description": "Reads an **ActionLabel** definition",
        "operationId": "ReadActionLabel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/LabelRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The name of the **Action**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Actions"
        ]
      },
      "delete": {
        "summary": "Delete ActionLabel",
        "description": "Delete a **UserLabel**, will prevent any new **Instances** with this **ActionLabel** can be created.\u003cbr\u003eAllready created **Instances** will not be affected.",
        "operationId": "DeleteActionLabel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The name of the **Action**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Actions"
        ]
      },
      "put": {
        "summary": "Update ActionLabel",
        "description": "Updates a **ActionLabel** for an **Action**.\u003cbr\u003eIf the *cascade* flag is set to true, all **Instances** for the **Action** which would violate the **ActionLabel** defition, will get makred as deleted.",
        "operationId": "UpdateActionLabel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The name of the **Action**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The name of the **ActionLabel** which will be modified.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "newActionLabelName": {
                  "type": "string",
                  "description": "The new unique name of the **ActionLabel** within the **Action.\u003cbr\u003eUse the CheckActionLabelName, call to verify the name, without creating it."
                },
                "defaultDataType": {
                  "$ref": "#/definitions/DataType",
                  "description": "The **DataType** for this **ActionLabel**.\u003cbr\u003eThis **DataType** will be used when creating **Instances** with this **ActionLabel**."
                },
                "minOccurrence": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Allows to set minimum number of values, which need to be provided when using this **ActionLabell*** in an **Instance**."
                },
                "maxOccurrence": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Allows to set maximum number of values, which need to be provided when using this **ActionLabell*** in an **Instance**.\u003cbr\u003eThis value needs to be either zero or it can be equal or greater then *min_occurrence*.\u003cbr\u003eSetting it to 0 will be interpreted as open-ended."
                },
                "alternativeDataTypes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DataType"
                  },
                  "description": "List of additional allowed **DataTypes** for this **ActionLabel**.\u003cbr\u003eIf left empty only the *default_data_type* is allowed for the values of this **ActionLabel**."
                },
                "cascade": {
                  "type": "boolean",
                  "description": "Flag to define the behaviour if the update will cause a violation of existing **Instances**.\u003cbr\u003eIf set to \u003cspan style=\"color:blue\"\u003etrue\u003c/span\u003e the **Instances** in violation will be marked as deleted."
                }
              },
              "description": "Use this to modify an **ActionLabel** associated to an **Action**",
              "title": "UpdateActionLabelReq",
              "required": [
                "action_name",
                "action_label",
                "defaultDataType",
                "minOccurrence",
                "maxOccurrence",
                "alternativeDataTypes"
              ]
            }
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actions/{actionName}/instances": {
      "get": {
        "summary": "Read Action Instances",
        "description": "Reads all **Instances** for an **Action**.\u003cbr\u003eWith the optional window pageing is supported.",
        "operationId": "ReadActionInstances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ReadActionInstancesRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "This is the name of the **Action** for which the **Instances** will be read",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "window.limit",
            "description": "Defines how many records at max are returned.\u003cbr\u003eIf fewer records are available, all will be returned.\u003cbr\u003eSetting this to -1 will be interpreted as no limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "window.offset",
            "description": "Defines the offset at which to start reading.\u003cbr\u003eAn offset of 0 will bean to start from the first possible record.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/actiontypes": {
      "post": {
        "summary": "Create ActionType",
        "description": "Creates a new **ActionType**",
        "operationId": "CreateActionType",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActionTypeReq"
            }
          }
        ],
        "tags": [
          "ActionTypes"
        ]
      }
    },
    "/api/v2/actiontypes/{actionTypeLabel}": {
      "get": {
        "summary": "Read ActionType",
        "description": "Reads an **ActionType** definition with all **ActionLabels**",
        "operationId": "ReadActionType",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActionTypeRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionTypeLabel",
            "description": "The label of the **ActionType**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ActionTypes"
        ]
      },
      "patch": {
        "summary": "Update ActionType",
        "description": "Updates a **ActionType**, at the moment this is only the name.\u003cbr\u003eThe new_name needs to be unqiue.\u003cbr\u003eThe *new_name* can not start or end with a whitespace character.\u003cbr\u003eThe *new_name* can not contain any control characters at any position",
        "operationId": "UpdateActionType",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionTypeLabel",
            "description": "The current name of the **ActionType** to be renamed.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "description": "The new name of the **ActionType**.\u003cbr\u003eThe label needs to be unique.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionTypeLabel",
              "description": "The new name of the **ActionType**.\u003cbr\u003eThe label needs to be unique."
            }
          }
        ],
        "tags": [
          "ActionTypes"
        ]
      }
    },
    "/api/v2/check/actions/{actionName}": {
      "get": {
        "summary": "Check Action Name",
        "description": "Verifies if the **Action** name is unique and only uses supported characters.",
        "operationId": "CheckActionName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "400": {
            "description": "Invalid ActionName format",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "ActionName already in use",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The string which is checked if it can be used as a valid **Action** name.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/check/actions/{actionName}/actionlabels/{actionLabel}": {
      "get": {
        "summary": "Check ActionLabel Name",
        "description": "Checks a string if it can be used as an **ActionLabel** name.",
        "operationId": "CheckActionLabelName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "actionName",
            "description": "The unique name for the **Action**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The string which is checked if it can be used as a valid **ActionLabel** name.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Actions"
        ]
      }
    },
    "/api/v2/check/metadata/keys/{keyName}": {
      "get": {
        "summary": "Check MetaDataKey Name",
        "description": "Checks a string if it can be used as a **MetaDataKey** name.",
        "operationId": "CheckMetaDataKeyName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "keyName",
            "description": "The string which is checked if it can be used as a valid **MetaDataKey** name.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "MetaDataKey"
        ]
      }
    },
    "/api/v2/check/password": {
      "post": {
        "summary": "Check Password",
        "description": "Checks if the password can be used, and returns a score of it's strength.",
        "operationId": "CheckPassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CheckPasswordRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckPasswordReq"
            }
          }
        ],
        "tags": [
          "Users"
        ]
      }
    },
    "/api/v2/check/user/{user}": {
      "get": {
        "summary": "Check User Name",
        "description": "Checks if the user name can be used.",
        "operationId": "CheckUserName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "user",
            "description": "Unique name of the user",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Users"
        ]
      }
    },
    "/api/v2/config": {
      "get": {
        "description": "Returns all **Dynizer** configuration values as key::value pairs",
        "operationId": "GetDynizerConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDynizerConfigurationRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Config"
        ]
      }
    },
    "/api/v2/dataelements/query/contains": {
      "post": {
        "summary": "Query DataElements Contains",
        "description": "This can be used to query **DataElements** by with contains and **DataType**.\u003cbr\u003eOptional filter possibilities.",
        "operationId": "QueryDataElements",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/QueryDataElementsRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryDataElementsReq"
            }
          }
        ],
        "tags": [
          "DataElements"
        ]
      }
    },
    "/api/v2/dataelements/top": {
      "post": {
        "summary": "Query DataElements TopN",
        "description": "This can be used to fetch the top N **DataElements** used in **Instances**\u003cbr\u003eOptional filter possibilities.",
        "operationId": "GetTopNDataElements",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetTopNDataElementsRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTopNDataElementsReq"
            }
          }
        ],
        "tags": [
          "DataElements"
        ]
      }
    },
    "/api/v2/instances": {
      "post": {
        "summary": "Create Instance",
        "description": "This can be used to create a new **Instance** with values.\u003cbr\u003eEach used **ActionLabel** can support as many values as defined.\u003cbr\u003eFor each value the **DataType** can be overwritten from the **ActionLabel** default.\u003cbr\u003eIn addition is it also possible to add MetaData on all levels.",
        "operationId": "CreateInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/InstanceIDRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateInstanceReq"
            }
          }
        ],
        "tags": [
          "Instances"
        ]
      }
    },
    "/api/v2/instances/{instanceId}": {
      "get": {
        "summary": "Read Instance",
        "description": "Reads an **Instance** directly.",
        "operationId": "ReadInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/InstanceRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instances"
        ]
      },
      "delete": {
        "summary": "Delete Instance",
        "description": "Delete an existing **Instance** will just mark it as deleted, but not remove it from the persistance layer.",
        "operationId": "DeleteInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instances"
        ]
      },
      "patch": {
        "summary": "Update Instance",
        "description": "This can be used to update an existing **Instance** with values.\u003cbr\u003eOnly the changed values need to be provided.\u003cbr\u003eA special array with the **ActionLabels** to be removed can be provided.\u003cbr\u003eEach used **ActionLabel** can support as many values as defined.\u003cbr\u003eFor each value the **DataType** can be overwritten from the **ActionLabel** default.\u003cbr\u003eIn addition is it also possible to add MetaData on all levels.",
        "operationId": "UpdateInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "instanceCellElements": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/InstanceUpdateElementCell"
                  },
                  "description": "Qualify a cell which is to be updated.\u003cbr\u003eUsing the virtual **DataType** DT_Delete"
                }
              },
              "description": "Used to update an Instance.\u003cbr\u003e",
              "title": "UpdateInstanceRequest",
              "required": [
                "instance_id",
                "instance_elements"
              ]
            }
          }
        ],
        "tags": [
          "Instances"
        ]
      }
    },
    "/api/v2/jwt/{token}/validate": {
      "get": {
        "summary": "Validate Token",
        "description": "Validates the security token",
        "operationId": "ValidateToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SessionID"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "description": "Is the [JSON Web Token (JWT)](https://jwt.io), which will be verified.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "security": []
      }
    },
    "/api/v2/login": {
      "post": {
        "summary": "Login",
        "description": "To Login to the Dynizer using a password.\u003cbr\u003eIf the user has access, a [Json Web Token](https://jwt.io/) [(RFC 7519)](https://tools.ietf.org/html/rfc7519) will be rturned.",
        "operationId": "Login",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/LoginRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginReq"
            }
          }
        ],
        "tags": [
          "Auth"
        ],
        "security": []
      }
    },
    "/api/v2/logout": {
      "get": {
        "summary": "Logout",
        "description": "Logout will clean server side resources.\u003cbr\u003eThis invalidates the security token as well.",
        "operationId": "Logout",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/v2/maintenance/index/{indexName}": {
      "get": {
        "summary": "Dynizer Index rebuild",
        "description": "Starts the rebuild of an index",
        "operationId": "ReIndex",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "indexName",
            "description": "Name of the index to build",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Maintenance"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}": {
      "post": {
        "summary": "Add Instance MetaData",
        "description": "Adds a **MetaDataKey** and its values to an **Instance**",
        "operationId": "AddInstanceMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "keyName": {
                  "type": "string",
                  "description": "Unique name of the **MetaDataKey**."
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "String representation of the value for the **MetaDataKey**.\u003cbr\u003eTo parse non standard string represetations set a proper parse-format string in *format*"
                },
                "specs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ValueSpec"
                  },
                  "description": "allows to add special handling for a value, based on its position in the array (1-based)"
                }
              },
              "description": "Used for adding a **MetaDataKey** with its values to an **Instance**.",
              "title": "AddInstanceMetaDataRequest",
              "required": [
                "instance_id",
                "keyName",
                "values"
              ]
            }
          }
        ],
        "tags": [
          "MetaData",
          "Instances MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}": {
      "post": {
        "summary": "Add Instance ActionLabel MetaData",
        "description": "Adds a **MetaDataKey** and its values to all **InstanceCells** under the **ActionLabel**",
        "operationId": "AddInstanceActionLabelMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "keyName": {
                  "type": "string",
                  "description": "Unique name of the **MetaDataKey**."
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "String representation of the value for the **MetaDataKey**.\u003cbr\u003eTo parse non standard string represetations set a proper parse-format string in *format*"
                },
                "specs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ValueSpec"
                  },
                  "description": "allows to add special handling for a value"
                }
              },
              "description": "Holds the properties to set MetaData for all cells under the **ActionLabel**.",
              "title": "AddInstanceActionLabelMetaDataRequest",
              "required": [
                "instance_id",
                "action_label",
                "keyName",
                "values"
              ]
            }
          }
        ],
        "tags": [
          "MetaData",
          "Instances ActionLabels MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/keys/{keyName}": {
      "delete": {
        "summary": "Remove Instance ActionLabel MetaData",
        "description": "Removes a **MetaDataKey** and *all* its values from all the **InstanceCells** under the **ActionLabel**",
        "operationId": "RemoveInstanceActionLabelMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances ActionLabels MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/keys/{keyName}/values": {
      "post": {
        "summary": "Add Instance ActionLabel MetaData Value",
        "description": "Adds an additional value to the values of a particular **MetaDataKey** linked to all **InstanceCells* under the **ActionLabel**.\u003cbr\u003eIf the value should already be in the array of values, an error is returned.",
        "operationId": "AddInstanceActionLabelMetaDataValue",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "String representation of the value for the **MetaDataKey**.\u003cbr\u003eTo parse non standard string represetations set a proper parse-format string in *format*"
                },
                "spec": {
                  "$ref": "#/definitions/DataTypeFormat",
                  "description": "Set this value if you want to use a different **DataType** from the default **DataType** for the values of the **MetaDataKey**."
                }
              },
              "description": "Holds the properties to add a value to the MetaData to ActionLabel grouped cells.",
              "title": "AddInstanceActionLabelMetaDataValueRequest",
              "required": [
                "instance_id",
                "action_label",
                "key_name",
                "value"
              ]
            }
          }
        ],
        "tags": [
          "MetaData",
          "Instances ActionLabels MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/keys/{keyName}/values/{value}": {
      "delete": {
        "summary": "Remove Instance ActionLabel MetaData Value",
        "description": "Removes an existing value from the values of a particular **MetaDataKey** linked to all **InstanceCells* under the **ActionLabel**.\u003cbr\u003eIf the value is not in the array of values, an error is returned.",
        "operationId": "RemoveInstanceActionLabelMetaDataValue",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "value",
            "description": "String representation of the value of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "spec.dataType",
            "description": "overwrites the default_data_type from the default value\n\n - DT_Integer: Integer\n - DT_String: String\n - DT_Boolean: Boolean\n - DT_Decimal: Decimal fixed\n - DT_Timestamp: Timestamp\n - DT_Uri: URI\n - DT_Void: VOID is a designated DataType to indicate no value\n - DT_Float: Float\n - DT_UnsignedInteger: UInt\n - DT_Binary: Byte Array\n - DT_Uuid: UUID\n - DT_Text: FullTextIndex large object\n - DT_Blob: Binary large object\n - DT_Clob: Character large object\n - DT_Any: DT_Date = 16;\nDT_Time = 17;\nspecial flag to indiacte all DataTypes, to be used in AlternativeDataTypes for ActionLabels and MetaDataKeys\n - DT_Delete: special flag to indiacte thet the value is to be removed",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "InvalidDataType",
              "DT_Integer",
              "DT_String",
              "DT_Boolean",
              "DT_Decimal",
              "DT_Timestamp",
              "DT_Uri",
              "DT_Void",
              "DT_Float",
              "DT_UnsignedInteger",
              "DT_Binary",
              "DT_Uuid",
              "DT_Text",
              "DT_Blob",
              "DT_Clob",
              "DT_Any",
              "DT_Delete"
            ],
            "default": "InvalidDataType"
          },
          {
            "name": "spec.format",
            "description": "is a format string which allows to specify on how the input-value is to be parsed from string to the internal DataType for storing",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "spec.shareNameOverride",
            "description": "Defines if the **ShareName** value is used to either clear the **ShareName** if a default is set or to use one or to use one which differs from the default one.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "spec.shareName",
            "description": "The **ShareName** to use by default when an new instance is created and a value is set for this **ActionLabel**",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances ActionLabels MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/position/{valuePosition}": {
      "post": {
        "summary": "Add InstanceCell MetaData",
        "description": "Adds a **MetaDataKey** and its values to an **InstanceCell**",
        "operationId": "AddInstanceCellMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "keyName": {
                  "type": "string",
                  "description": "Unique name of the **MetaDataKey**."
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "String representation of the value for the **MetaDataKey**.\u003cbr\u003eTo parse non standard string represetations set a proper parse-format string in *format*"
                },
                "specs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ValueSpec"
                  },
                  "description": "allows to add special handling for a value, based on its position in the array (1-based)"
                }
              },
              "description": "Holds the properties to identify MetaData assciated to an **InstanceCell**.",
              "title": "AddInstanceCellMetaDataRequest",
              "required": [
                "instance_id",
                "action_label",
                "value_position",
                "keyName",
                "values"
              ]
            }
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/position/{valuePosition}/keys": {
      "get": {
        "summary": "List InstanceCell MetaData",
        "description": "Returns all **MetaDataKeys** linked to an **Instance** with all set values",
        "operationId": "ListInstanceCellMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListInstanceCellMetaDataRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/position/{valuePosition}/keys/all/count": {
      "get": {
        "summary": "Count InstanceCell MetaDataKeys",
        "description": "Returns the number of **MetaDataKeys** which are associated with the **InstanceCell**",
        "operationId": "CountInstanceCellMetaDataKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/position/{valuePosition}/keys/{keyName}": {
      "get": {
        "summary": "Get InstanceCell MetaData",
        "description": "Returns all the values for the given **MetaDataKey** linked to the give **InstanceCell**.",
        "operationId": "GetInstanceCellMetaDataValues",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetInstanceCellMetaDataKeyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      },
      "delete": {
        "summary": "Remove InstanceCell MetaData",
        "description": "Removes a **MetaDataKey** and *all* its values from an **InstanceCell**",
        "operationId": "RemoveInstanceCellMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/position/{valuePosition}/keys/{keyName}/values": {
      "post": {
        "summary": "Add InstanceCell MetaData Value",
        "description": "Adds an additional value to the values of a particular **MetaDataKey** linked to an **InstanceCell*.\u003cbr\u003eIf the value should already be in the array of values, an error is returned.",
        "operationId": "AddInstanceCellMetaDataValue",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "String representation of the value of the **MetaDataKey**."
                },
                "spec": {
                  "$ref": "#/definitions/DataTypeFormat",
                  "description": "Use this to specify on how to parse the input value from string to the internal **DataType**"
                }
              },
              "description": "Identifies a single value of a MetaData from an **InstanceCell**",
              "title": "AddInstanceCellMetaDataValueRequest",
              "required": [
                "instance_id",
                "action_label",
                "value_position",
                "key_name",
                "value"
              ]
            }
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/position/{valuePosition}/keys/{keyName}/values/all/count": {
      "get": {
        "summary": "Count InstanceCell MetaDataKey Values",
        "description": "Returns the number of values set for a given **MetaDataKey** of the **InstanceCell**",
        "operationId": "CountInstanceCellMetaDataKeyValues",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/actionlabels/{actionLabel}/position/{valuePosition}/keys/{keyName}/values/{value}": {
      "delete": {
        "summary": "Remove InstanceCell MetaData Value",
        "description": "Removes an existing value from the values of a particular **MetaDataKey** linked to an **InstanceCell*.\u003cbr\u003eIf the value is not in the array of values, an error is returned.",
        "operationId": "RemoveInstanceCellMetaDataValue",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionLabel",
            "description": "The unique name of the **ActionLabel**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valuePosition",
            "description": "The 1-based position of the value within the values for an **ActionLabel**",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "value",
            "description": "String representation of the value for the **MetaDataKey**.\u003cbr\u003eTo parse non standard string represetations set a proper parse-format string in *format*",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "spec.dataType",
            "description": "overwrites the default_data_type from the default value\n\n - DT_Integer: Integer\n - DT_String: String\n - DT_Boolean: Boolean\n - DT_Decimal: Decimal fixed\n - DT_Timestamp: Timestamp\n - DT_Uri: URI\n - DT_Void: VOID is a designated DataType to indicate no value\n - DT_Float: Float\n - DT_UnsignedInteger: UInt\n - DT_Binary: Byte Array\n - DT_Uuid: UUID\n - DT_Text: FullTextIndex large object\n - DT_Blob: Binary large object\n - DT_Clob: Character large object\n - DT_Any: DT_Date = 16;\nDT_Time = 17;\nspecial flag to indiacte all DataTypes, to be used in AlternativeDataTypes for ActionLabels and MetaDataKeys\n - DT_Delete: special flag to indiacte thet the value is to be removed",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "InvalidDataType",
              "DT_Integer",
              "DT_String",
              "DT_Boolean",
              "DT_Decimal",
              "DT_Timestamp",
              "DT_Uri",
              "DT_Void",
              "DT_Float",
              "DT_UnsignedInteger",
              "DT_Binary",
              "DT_Uuid",
              "DT_Text",
              "DT_Blob",
              "DT_Clob",
              "DT_Any",
              "DT_Delete"
            ],
            "default": "InvalidDataType"
          },
          {
            "name": "spec.format",
            "description": "is a format string which allows to specify on how the input-value is to be parsed from string to the internal DataType for storing",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "spec.shareNameOverride",
            "description": "Defines if the **ShareName** value is used to either clear the **ShareName** if a default is set or to use one or to use one which differs from the default one.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "spec.shareName",
            "description": "The **ShareName** to use by default when an new instance is created and a value is set for this **ActionLabel**",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances Cells MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/keys": {
      "get": {
        "summary": "List Instance MetaData",
        "description": "Returns all **MetaDataKeys** linked to an **Instance** with all set values",
        "operationId": "ListInstanceMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListInstanceMetaDataRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/keys/all/count": {
      "get": {
        "summary": "Count Instance MetaDataKeys",
        "description": "Returns the number of **MetaDataKeys** which are associated with the **Instance**",
        "operationId": "CountInstanceMetaDataKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/keys/{keyName}": {
      "get": {
        "summary": "Get Instance MetaData Values",
        "description": "Returns all the values for the given **MetaDataKey** linked to the give **Instance**.",
        "operationId": "GetInstanceMetaDataValues",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetInstanceMetaDataKeyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances MetaData"
        ]
      },
      "delete": {
        "summary": "Remove Instance MetaData",
        "description": "Removes a **MetaDataKey** and *all* its values from an **Instance**",
        "operationId": "RemoveInstanceMetaData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MetaData",
          "Instances MetaData"
        ]
      }
    },
    "/api/v2/metadata/instances/{instanceId}/keys/{keyName}/values": {
      "post": {
        "summary": "Add Instance MetaData Value",
        "description": "Adds an additional value to the values of a particular **MetaDataKey** linked to an **Instance*.\u003cbr\u003eIf the value should already be in the array of values, an error is returned.",
        "operationId": "AddInstanceMetaDataValue",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmptyRes"
            }
          },
          "401": {
            "description": "Unauthorized call",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unexpected internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceId",
            "description": "The special UUID identifying an **Instance**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyName",
            "description": "Unique name of the **MetaDataKey**.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "String representation of the value for the **MetaDataKey**.\u003cbr\u003eTo parse non standard string represetations set a proper parse-format string in *format*"
                },
                "spec": {
                  "$ref": "#/definitions/DataTypeFormat",
                  "description": "Use this to specify on how to parse the input value from string to the internal **DataType**"
                }
              },
              "description": "Adds a new value to an already linked **MetaDataKey**",
[...]
